@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-poppins);
}

:root {
    --color-primary: #01c4b1;
    --color-secondary: #ff3d87;
    --color-secondary-darken: #dc437e;
    --color-tertiary: #737989;
    --color-text-light: #737989;
    --color-lighten: #8d929f;
    --bg-grey: #f6f7f9;
    --border-grey: #dddddd;
    --font-poppins: 'Poppins', sans-serif;
}

body {
    background-color: var(--bg-grey) !important;
    /* overflow-y: hidden; */
}

/* =========================== R E U S A B L E ======================== */
/* =========================== R E U S A B L E ======================== */
/* =========================== R E U S A B L E ======================== */
/* =========================== R E U S A B L E ======================== */

.btn-secondary-color {
    padding: .6rem .8rem !important;
    background-color: var(--color-secondary) !important;
    color: white !important;
}

.subtext{
    font-size: 0.8rem;
    color: var(--color-tertiary);
}

.vpm-b-0{
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
    line-height: normal !important;
}


/* *************************** H E A D E R **************************** */
/* *************************** H E A D E R **************************** */
/* *************************** H E A D E R **************************** */
/* *************************** H E A D E R **************************** */
header {
    height: 6.5rem;
    background-color: #ffffff;
    /* position: -webkit-sticky;
    position: sticky;
    top: 0; */
    padding: initial 1rem;
    gap: 2rem;
    /* box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.24); */
}

.brand-logo {
    width: 220px;
    min-width: 150px;
}

.brand-logo img {
    width: 100%;
}

.search-bar {
    position: relative;
    max-width: 620px;
    width: 580px;
    /* min-width: 200px; */
}

.search-icon-only i {
    display: none;
}

.form-control:disabled {
    background-color: #fff !important;
    opacity: 1;
}


/* *************************************************** search modal */
.modal.show .modal-dialog {
    transform: translate(29.5px, 1px) !important;
    max-width: 580px;
    min-width: 200px;
}

#searchModal .modal-content {
    border: none !important;
    border-radius: 12px 12px 0px 0px;
    background-color: transparent !important;
}

#searchModalBar {
    border-radius: 12px 12px 0px 0px;
}

#searchModal .search-result {
    max-height: 400px;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
    background-color: #000000aa;
}

.search-result ul {
    margin-bottom: 0;
    padding-left: 0;
}

.search-result li {
    list-style: none;
    color: whitesmoke;
    padding: 10px 0;
    border-bottom: 1px solid;
}

.search-result li:last-child {
    border: none;
}

.search-result li a {
    display: block;
    text-decoration: none;
    color: whitesmoke;
    padding: 0 1rem;
}

@media screen and (max-width: 576px) {
    .modal.show .modal-dialog {
        transform: translate(219px, 22px) !important;
    }

    .modal.show .modal-dialog {
        transform: translate(0px, 29px) !important;
        margin: auto;
    }
}

/* ***************************************************** search modal end */

.search-bar i {
    font-size: 1rem;
}

.search-bar i.search-icon {
    position: absolute;
    right: 15px;
    top: 15px;
    opacity: 0.5;
}

#searchMain {
    border-radius: 12px;
}

input.form-control::placeholder {
    opacity: 0.4;
}

.dropdown-toggle::after {
    content: none !important;
}

/* .profile-notification .dropdown {
    padding-left: .5rem;
} */

.profile-notification {
    gap: .7rem;
}

.profile-notification .profile-image {
    height: 48px;
    width: 48px;
}

.dropdown-toggle img.bell-svg {
    font-size: 1.2rem;
    border-radius: 50%;
}

button.dropdown-toggle {
    border: none;
}

.dropdown-item i {
    font-size: 1.2rem;
    color: var(--color-primary);
    opacity: 0.6;
    padding-right: 15px;
}


.notification-menu .dropdown-item {
    position: relative;
    display: flex;
}

.change-svg-primary {
    filter: invert(58%) sepia(74%) saturate(2560%) hue-rotate(133deg) brightness(96%) contrast(99%);
}

.bell-btn {
    position: relative;
    /* opacity: 0.4; */
    border-radius: .5rem !important;
}

.bell-btn:hover,
.bell-btn:focus {
    background-color: var(--bg-grey) !important;
}

.notice-dot {
    position: absolute;
    height: 6px;
    width: 6px;
    background-color: var(--color-secondary);
    border-radius: 50%;
    bottom: 7px;
    right: 11px;
}

.notification-menu hr {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.notification-menu span.notification-timestamp {
    position: absolute;
    font-size: .8rem;
    color: var(--color-lighten);
    bottom: 0px;
    right: 20px;
}

.notification .dropdown-menu {
    max-width: 500px;
    min-width: 150px;
    width: 450px;
    transform: translate3d(30px, 55px, 0px);
}

.notification p {
    color: var(--color-text-light);
    white-space: normal;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

.profile-menu a {
    color: var(--color-text-light);

}

.profile .dropdown-menu {
    transform: translateY(70px) !important;
}

.bell-btn i {
    color: var(--color-primary);
    font-size: 1.4rem;
}

/* header media query */
@media screen and (max-width: 576px) {

    #searchWrapperMain input,
    #searchWrapperMain i,
    .search-bar-main {
        display: none;
    }

    .search-icon-only {
        padding: .5rem;
    }

    .search-icon-only i {
        display: block;
        color: white;
        padding: .5rem;
        background-color: var(--color-primary);
        border-radius: .4rem;
        font-size: 1.3rem;
        /* text-shadow: 0px 2px 4px var(--color-text-light); */
    }

    .search-icon-only:hover {
        cursor: pointer;
    }

    .notification .notification-menu {
        transform: translate3d(-288.8px, 57.6px, 0px);
    }

}

@media screen and (max-width: 420px) {
    .brand-logo {
        width: 70px;
        overflow: hidden;
    }
}

/* ************** Header ends here ******************** */


/* ****************************************/
/* ****************************************/
/* ************** HOME SCREEN *************/
/* *******************||*******************/
/* *******************||*******************/
/* *****************__||__*****************/
/* *****************\    /*****************/
/* ******************\  /******************/
/* *******************\/*******************/

/* ************ Main section **************/

.card-container {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    gap: 3rem;
}

.heading-section p {
    color: var(--color-text-light);
}

a.card-outer {
    padding: .45rem;
    background-color: white;
    border-radius: .5rem;
    text-decoration: none;
    color: black;
}

a.card-outer:hover {
    color: black;
}

.card {
    width: 200px;
    padding: .8rem;
    border: 1px solid grey;
}

.card img {
    width: 95%;
    object-fit: contain;
    height: 150px;
}

.card-body {
    border-top: 1.5px solid rgba(128, 128, 128, 0.351);
    padding-bottom: 0.5rem !important;
    height: 140px;
    position: relative;
}

.card-body p {
    font-size: .8rem;
    color: var(--color-text-light);
}

.card-body i {
    position: absolute;
    text-decoration: none;
    bottom: 0.1rem;
    right: 0.5rem;
    background-color: transparent;
    font-size: 1.15rem;
    color: var(--color-secondary);
    margin-bottom: .3rem;
}

.card-body i:hover,
.card-body i:focus {
    color: #d33a74;
}

.card-body i::after {
    position: absolute;
    content: "";
    bottom: -10px;
    right: -11px;
    height: 38px;
    width: 38px;
    border: 2px solid var(--color-secondary);
    border-radius: 50%;
}

/* ***************************** card section media queries ************************** */
@media screen and (max-width: 768px) {
    section.card-container {
        flex-direction: column;
        width: 300px;
    }

    .card {
        width: 100%;
    }
}


/* ******************* LOWER SECTION *************************** */

.quote-wrapper {
    position: relative;
    width: 40%;
}

.quote-wrapper::after,
.quote-wrapper::before {
    position: absolute;
    content: "";
    height: 60%;
    width: 92%;
}

.quote-wrapper::after {
    bottom: 0;
    left: 0;
    border-bottom: 2px solid var(--border-grey);
    border-left: 2px solid var(--border-grey);
}

.quote-wrapper::before {
    top: -.5rem;
    right: 0;
    border-top: 2px solid var(--border-grey);
    border-right: 2px solid var(--border-grey);
}

.lower-section i {
    position: absolute;
    font-size: 2rem !important;
    color: var(--color-tertiary);
}

.lower-section i.left-quote {
    top: -35px;
    left: -15px;
}

.lower-section i.right-quote {
    bottom: -20px;
    right: -10px;
}

p.quote {
    color: var(--color-text-light);
    font-size: .9rem;
    font-weight: 400;
}

h6.author-name::before {
    content: "-";
}



/* ***************************************                     */
/* ***************************************                      */
/* ************ S I D E B A R ************   ________|\          */
/* *******************||******************  |          \          */
/* *******************||******************  |________  /          */
/* *****************__||__****************           |/          */
/* *****************\    /****************                      */
/* ******************\  /*****************                     */
/* *******************\/****************** */

.sidebar {
    margin: 0;
    padding: 0;
    max-width: 320px;
    width: 300px;
    min-width: 200px;
    background-color: var(--bg-grey);
    position: fixed;
    height: 100%;
    overflow: auto;
    border-right: 0.15rem solid var(--border-grey);
}

.sidebar a {
    display: block;
    color: black;
    padding: 12px;
    text-decoration: none;
    transition: all .3s ease-in-out;
    border-right: 0px solid var(--color-primary);
}



.sidebar a:hover span,
.sidebar a:focus span {
    color: var(--color-primary);
}

.sidebar a:hover,
.sidebar a:focus {
    border-right: 5px solid var(--color-primary);
    font-weight: 500;
}

.sidebar ul {
    padding-left: 0;
}

.sidebar li {
    list-style: none;
    position: relative;
    /* border-bottom: 0.01rem solid var(--border-grey); */
}

.sidebar li::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 5%;
    width: 85%;
    height: 1px;
    background-color: var(--border-grey);
}

.main-content {
    margin-left: 300px;
    margin-top: 3rem;
}

.main-content-no-sidebar {
    margin-left: 0;
    margin-top: 3rem;
}


.sidebar-heading {
    padding: 2rem;
    gap: 1.4rem;
    border-bottom: 0.1rem solid var(--border-grey);
}

.sidebar-heading h5 {
    margin-bottom: 0;
    font-size: 1.5rem;
}

.sidebar-heading .back-btn {
    background-color: white;
    box-shadow: 0 2px 6px -2px var(--color-lighten);
    border-radius: 0.5rem;
}

.sidebar-heading i {
    font-size: 1.2rem;
}

.side-links img {
    height: 50px;
    width: 80px;
    padding: .2rem;
}

.side-links span {
    color: var(--color-tertiary);
    transition: all .3s ease-in-out;
    font-weight: 500;
}

/*  */
.sidebar button.btn {
    margin-top: 3rem;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.sidebar button.btn i {
    padding: 0 .5rem;
}

.sidebar button.btn:hover,
.sidebar button.btn:focus {
    background-color: var(--color-secondary-darken);
    color: white;
    /* border: 0.1rem solid var(--color-primary); */
    box-shadow: 0px 2px 4px var(--color-primary);
}


/* ***************************************  ************************** */
/* ***************************************  ******|            |****** */
/* ************* My Insurance ************  **********|    |********** */
/* *******************||******************  **********|    |********** */
/* *******************||******************  **********|    |********** */
/* *****************__||__****************  **********|    |********** */
/* *****************\    /****************  ******|            |****** */
/* ******************\  /*****************  ************************** */
/* *******************\/******************  ************************** */


.card-section .content-wrapper {
    background-color: white;
    border-radius: .5rem;
}

.upper-up img {
    height: 4rem;
    object-fit: cover;
    width: fit-content;
}

.upper-up-right {
    padding-left: 0 !important;
}

.upper-up-right .tags-wrapper {
    column-gap: 1rem;
}

.upper-up-right .tags {
    font-size: .8rem;
    color: var(--color-tertiary);
    padding: .2rem .6rem;
    border: 1px solid var(--border-grey);
    border-radius: .5rem;
}

.card-wrapper span {
    font-size: .8rem;
    color: var(--color-tertiary);
}

.upper-right .card-wrapper span {
    font-size: .95rem;
    color: var(--color-tertiary);
}

.upper-right .card-wrapper {
    margin: auto;
}

.upper-right .card-wraper::after {
    content: "";
    position: absolute;
    bottom: -1rem;
    height: 1px;
    width: 95%;
    background-color: var(--border-grey);
}

.upper-right .card-wraper:last-child:after {
    height: 0;
    width: 0;
}

.hospital-covered-row{
    padding-left: 3rem !important;
    padding-right: 3rem !important;
}

.hospital-covered-row:last-child div{
    border-bottom: none !important;
}

@media screen and (max-width: 1199.8px) {
    .hospital-covered-row{
        padding-left: 1.5rem !important;
        padding-right: 1.5rem !important;
    }
}
@media screen and (max-width: 576px) {
    .hospital-covered-row{
        padding-left: 0rem !important;
        padding-right: 0rem !important;
    }
}